.logomarca {
	display: flex;
	justify-content: center;
}
.logomarca img {
	max-width: 300px;
	max-height: 300px;
}

.menu {
	font-size: 1rem;
}

.menu ul {
	background-color: black;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-evenly;
}

.menu ul li a {
	display: inline-block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
	transition: all 0.3s;
}

.menu ul li a:hover {
	color: #db4862;
	background-color: pink;
}

.menu ul li:last-child {
	color: #db4862;
	background-color: pink;
}
.menu ul li:last-child a {
	color: #db4862;
}
