@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url(reset.css);

@import url(header.css);

* {
	--cor-principal: pink;
	--cor-destaque: #ff5361;
}

.video {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.contatos {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.titleForm {
	color: #555;
	font-weight: 800;
	margin-bottom: 20px;
	font-size: 1.2rem;
}

form {
	background: #fff;
	display: flex;
	flex-direction: column;
	width: 350px;
	border: 3px solid pink;
	border-radius: 10px;
	padding: 10px;
}

form input,
form textarea {
	border: none;
	padding: 10px 5px;
	margin: 10px 0;
	background: #dadada;
	font-size: 1rem;
}
form textarea {
	resize: none;
	height: 200px;
}
form button {
	padding: 15px;
	background-color: var(--cor-destaque);
	color: #fff;
	font-size: 1.1rem;
	border: 0;
	outline: none;
	cursor: pointer;
	width: 150px;
	margin: 20px auto 0;
	border-radius: 30px;
}

footer {
	background: pink;
	padding: 50px 0;
	margin: 20px 15px 0px;
}
footer .redes {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
footer .redes a {
	color: var(--cor-destaque);
	text-decoration: none;
	width: 20px;
	height: 20px;
}
footer p {
	text-align: center;
	margin-bottom: 30px;
}
footer p a {
	color: var(--cor-destaque);
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.1rem;
	margin: 0 15px;
}
footer p img {
	vertical-align: bottom;
	width: 35px;
	display: inline;
}
footer p {
	text-align: center;
	margin-top: 10px;
}
